<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        body > div {
            display: none;
        }

        .active {
            display: block;
        }
    </style>
</head>
<body>
    <div ng-controller="HomeCtrl" data-url="/" data-default>
        <h1>Home</h1>

        <a href="#" ng-click="gotoUrl('/about', $event)">About</a>
    </div>

    <div ng-controller="AboutCtrl" data-url="/about">
        <h1>About</h1>

        <a href="#" ng-click="gotoUrl('/', $event)">Home</a>
    </div>

    <script src="jquery.js"></script>
    <script src="angular.js"></script>
    <script src="app.js"></script>
    <script src="router.js"></script>
    <script src="HomeCtrl.js"></script>
    <script src="AboutCtrl.js"></script>
</body>
</html>