<h1>JSBootcamp App</h1>

<contact-list
        contacts="$ctrl.contacts1"
        on-reverse="$ctrl.onReverse()">
</contact-list>

<contact-list contacts="$ctrl.contacts2"></contact-list>

<!--<div ng-repeat="format in ['HH:mm:ss','mm:ss', 'ss']">-->
    <!--<clock-->
            <!--component-name="clock"-->
            <!--format="format"-->
            <!--on-tick="$ctrl.onTick(sender, time)">-->
    <!--</clock>-->

    <!--<button ng-click="clock.start()">Start</button>-->
    <!--<button ng-click="clock.stop()">Stop</button>-->
<!--</div>-->
