<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div ng-controller="HomeCtrl">
        <span>{{counter}}</span>
        <button ng-click="inc()">Increment</button>

        <input ng-model="name" />
        <button ng-click="sayHello()">Say Hello</button>
        <button ng-click="reset()">Reset</button>

        <ul>
            <li ng-repeat="contact in contacts">
                <span>{{contact.name}}</span>
                <span>{{contact.email}}</span>
                <button ng-click="remove(contact, $index)">Delete</button>
            </li>
        </ul>
    </div>

    <script src="angular.js"></script>
    <script src="HomeCtrl.js"></script>
</body>
</html>