extends layout

block content
  h1= title
  p Welcome to #{title}

  span name
  input(id="txtName" , type="text", value="eli")
  div(id="time")
  textarea(id="theTextarea" , rows="10", cols="66")
  div(id="status")